/* Fonte do início - KoHo */
@media screen and (max-width: 1768px){
    *{
        background: #2A454B;
        margin: 0;
        border: 0;
        padding: 0;
        overflow-x: hidden;
        font-family: 'KoHo', sans-serif;
    }

    html::-webkit-scrollbar {
        position: absolute;
        width: 9px;
        background-color: transparent;
        transition: 0.5s ease-in-out;
    }
    html::-webkit-scrollbar-thumb {
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
        box-shadow: inset 0 0 5px teal;
    }
    html::-webkit-scrollbar-track{
        background-color: #285774;
    }
        /*-----------------------------------------------------------------*/
    /*                          Seção do Topo                          */
    /*-----------------------------------------------------------------*/

    .SectionTop{
        height: 80px;
        width: 100%;
        background: #13232C;
    }
    .SectionIntrodução{
        width: 100%;
        height: 550px;
        position: relative;
        transform: translateX(-0px);
        background: #1A313F;
        border-radius: 0 0 100% 100%/0 0 10% 10%;
    }
    .Logo{
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translate(-50%);
        background: none;
    }
    .LogoIMG{
        background: none;
        position: relative;
        border-radius:10px;
        height: 150px;
        width: 150px;
    }
    .DetalheBranco{
        height: 30px;
        width: 100%;
        background: #474747;
        position: absolute;
        top: 604px;
    }
    .BemVindo{
        background: none;
        position: relative;
        left: 50%;
        top: 50%;
        width: fit-content;
        height: 150px;
        transform: translate(-50%);
        justify-content: center;
        overflow-y: visible;
    }
    .BemVindoP{
        background: none;
        font-size: 3vw;
        color: white;
        cursor: default;
        top: 5px
    }

    .BemVindoDetalhe, .BemVindoDetalhe2{
        background: white;
        height: 14px;
        position: relative;
        top: 5px;
        width: 100%;
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px;
        box-shadow: inset 0 0 10px black;
    }
    .BemVindoDetalhe2{
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        top: 0px;
    }

        /*-----------------------------------------------------------------*/
    /*                      Seção da Biografia                         */
    /*-----------------------------------------------------------------*/

    .SectionBiografia{
        height: fit-content;
        width: 100%;
        overflow-x: hidden;
        background: #474747;
        z-index: 10;
        font-family: 'KoHo', sans-serif;
        justify-content: center;
    }
    .BiografiaTitleBox{
        position: relative;
        height: 120px;
        width: 230px;
        margin-bottom: 150px;
        background: gray;
        top: 40px;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
        border-radius: 100px;
        box-shadow: -8px 8px rgb(116, 116, 116);
    }
    #BiografiaUser{
        background: none;
        height: fit-content;
        width: fit-content;
        color: white;
        transform: scale(3) translateY(10px);
    }
    .BiografiaTitle{
        background: none;
        font-size: 35px;
        color: white;
        transform: translateY(40px);
        cursor: default;
    }

    .BiografiaTextBox{
        height: fit-content;
        background: gray;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 80%;
        position: relative;
        left: 50%;
        bottom: 0%;
        transform: translate(-50%, -38%);
        border-radius: 50px;
        box-shadow: -10px 10px rgb(116, 116, 116);
        line-break: normal;
    }
    .BiografiaTexto{
        width: 94%;
        background: gray;
        height: fit-content;
        position: relative;
        top: 5%;
        left: 50%;
        transform: translate(-50%);
        font-size: 4vmin;
        color: white;
        cursor: default;
    }

        /*-----------------------------------------------------------------*/
    /*                       Seção dos Status                          */
    /*-----------------------------------------------------------------*/

    .CompServProjSection{
        height: 800px;
        width: 100%;
        border-radius: 50% 50% 0% 0% / 6% 6% 94% 94%;
        background: #172A32;
        z-index: 2;
        position: absolute;
        text-align: center;
        overflow-y: hidden;
    }
    .Detalhe2{
        width: 100%;
        position: relative;
    }
    .DetalheBranco2{
        height: 40px;
        transform: translateY(-3px);
        width: 100%;
        background: #474747;
    }

    .DetalhesText{
        background: gray;
        color: white;
        font-size: 35px;
        position: absolute;
        width: 190px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 50px;
        align-items: center;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -10%);
        cursor: default;
        box-shadow: -6px 6px rgb(116, 116, 116);
    }
    .BotõesCaixaGeral{
        background: none;
        position: relative;
        height: 60px;
        width: 100%;
        left: 50%;
        top: 22%;
        transform: translate(-50%, -22%);
        z-index: 2;
        text-align: center;
    }
    .ServiçosBTN, .CompetênciasBTN, .ProjetosBTN{
        outline: none;
        color: white;
        background: gray;
        width: 25vw;
        height: 45px;
        cursor: pointer;
        box-shadow: -8px 8px rgb(116, 116, 116);
        font-size: 2vw;
        transition: 0.3s ease-in-out;
    }
    .ServiçosBTN:hover, .CompetênciasBTN:hover, .ProjetosBTN:hover{
        background: darkgray;
        box-shadow: -8px 8px rgb(136, 136, 136);
    }
    .ServiçosBTN:focus, .CompetênciasBTN:focus, .ProjetosBTN:focus{
        background: darkgray;
        box-shadow: -8px 8px rgb(136, 136, 136);
    }
    .CompetênciasBTN{
        margin-right: 20px;
        margin-left: 20px;
    }

        /*-----------------------------------------------------------------*/
    /*                       Competências Imgs                         */
    /*-----------------------------------------------------------------*/


    .ServiçosDiv{
        background: gray;
        position: relative;
        height: 220px;
        width: 680px;
        left: -90%;
        top: 190px;
        text-align: center;
        transform: translate(-50%);
        transition: 2s ease-in-out;
        border-radius: 100px;
        box-shadow: -10px 10px rgb(116 116 116);
    }
    #ServiçosIcon1{
        position: absolute;
        background: none;
        top: 76px;
        left: 25px;
        transform: scale(1.8);
    }
    #ServiçosIcon2{
        position: absolute;
        background: none;
        top: 123px;
        left: 133px;
        transform: scale(1.8);
    }
    .LiText{
        position: relative;
        background: none;
        color: white;
        font-size: 35px;
        width: 700px;
        left: -1%;
        top: 60px;
        cursor: default;
    }
    .CompetênciasDiv{
        background: gray;
        position: absolute;
        height: 250px;
        width: 50vw;
        min-width: 350px;
        text-align: center;
        display: inline-flex;
        justify-content: space-evenly;
        top: 250px;
        left: 50%;
        transform: translate(-50%);
        border-radius: 100px;
        box-shadow: -10px 10px rgb(116 116 116);
        transition: 2s ease-in-out;
    }
    .ProjetosDiv{
        background: none;
        position: absolute;
        height: 370px;
        width: 1100px;
        left: 190%;
        top: 250px;
        transform: translate(-50%);
        transition: 2s ease-in-out;
        justify-content: space-around;
        display: inline-flex;
    }
    .Projeto{
        height: 350px;
        width: 330px;
        border-radius: 20px;
        background: gray;
        box-shadow: -10px 10px rgb(116 116 116);
    }
    .Projeto1{
        margin-right: 25px;
    }
    .Projeto3{
        margin-left: 25px;
    }
    .Google, .Youtube, .Login{
        box-shadow: -10px 10px rgb(116 116 116);
        position: relative;
        top: 25px;
        height: 170px;
        width: 270px;
        border-radius: 5px;
    }
    .ProjetoTexto{
        color: white;
        position: relative;
        top: 45px;
        left: 50%;
        transform: translate(-50%);
        font-size: 25px;
        cursor: default;
        background: darkgray;
        width: 200px;
        height: 40px;
        border-radius: 50px;
    }
    .ProjetoTexto3{
        width: 295px;
    }
    .IconsProjeto{
        position: relative;
        left: 230px;
        top: 73px;
        height: 24px;
        width: 80px;
        justify-content: space-evenly;
        background: darkgray;
        transform: scale(2.6) translate(-50%);
        border-radius: 50px;
        box-shadow: -3px 3px rgb(116 116 116);
    }
    #Html, #Css, #JavaScript{
        background: none;
        position: relative;
        height: fit-content;
        width: fit-content;
        top: 3px;
    }
    #Html{
        color: rgb(228, 120, 20);
    }
    #Css{
        margin-left: 5px;
        margin-right: 5px;
        color: rgb(0, 107, 150);
    }
    #JavaScript{
        color: rgb(238, 202, 0)
    }

    .HtmlIMG, .CssIMG, .JavaScriptIMG{
        height: 70px;
        width: 70px;
        min-width: 100px;
        min-height: 100px;
        background: none;
        position: relative;
    }
    .HtmlIMG{
        transform:scaleX(0.91);
        position: relative;
    }
    .CssIMG{
        transform: scale(1.35);
    }
    .JavaScriptIMG{
        transform: scale(0.95) translateY(0);
    }
    .HtmlText, .CssText, .JavaScriptText{
        background: darkgray;
        border-radius: 50px;
        color: white;
        font-size: 25px;
        cursor: default;
    }
    .CssText{
        margin-top: 10px;
    }
    .HtmlIcon, .CssIcon, .JavaScriptIcon{
        background: none;
        height: fit-content;
        width: fit-content;
        justify-content: center;
        text-align: center;
        position: relative;
        top: 35px;
    }

        /*------------------------------------------------------*/
    /*                       Footer                         */
    /*------------------------------------------------------*/

    .Footer{
        height: 240px;
        width: 100%;
        background: #2A454B;
        position: absolute;
        z-index: 3;
        bottom: -1290px;
        color: white;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .ContatosText{
        text-align: center;
        position: relative;
        left: 50%;
        top: 25px;
        transform: translate(-50%);
        background: gray;
        height: 43px;
        width: 150px;
        border-radius: 50px;
        font-size: 25px;
        box-shadow: -5px 5px rgb(116 116 116);
        cursor: default;
    }

    .ItensFooter{
        background: gray;
        position: relative;
        top: 50px;
        left: 50%;
        transform: translate(-50%);
        display: inline-flex;
        height: 80px;
        width: 260px;
        border-radius: 50px;
        box-shadow: -5px 5px rgb(116 116 116);
        justify-content: space-around;
        text-align: center;
    }

    #Github, #Twitter, #Instagram{
        background: none;
        height: fit-content;
        width: fit-content;
        position: relative;
        top: 30px;
        transform: scale(3.5);
        transition: 0.15s ease-in-out;
    }
    #Github{
        color: rgb(156, 156, 156);
    }
    #Twitter{
        color: rgb(78, 196, 250)
    }

    #Github:hover, #Twitter:hover, #Instagram:hover{
        transform: scale(3);
    }
    a{
        background: none;
        height: 70px;
        width: 90px;
        align-items: center;
        overflow-y: hidden;
    }
}

@media screen and (max-width: 1196px){
    .BiografiaTextBox{
        transform: translateY(-80px) translate(-50%);
        left: 50%;
    }
}

@media screen and (max-width: 1095px){
    .ProjetosDiv{
        transform: scale(0.8) translateX(-690px);
    }
}
@media screen and (max-width: 878px){
    .ProjetosDiv{
        transform: scale(0.7) translateX(-780px) translateY(-60px);
    }
}
@media screen and (max-width: 768px){
    .BiografiaTexto{
        font-size: 24px;
    }
    .ServiçosBTN, .CompetênciasBTN, .ProjetosBTN{
        font-size: 20px;
    }
    
    .ProjetosDiv{
        transform: scale(0.65) translateY(50px) translateX(-850px);
    }
    .CompetênciasDiv{
        width: 500px;
        height: 200px;
        top: 350px
    }
    .HtmlIMG, .CssIMG, .JavaScriptIMG{
        height: 50px;
    }
    .ServiçosDiv{
        height: 150px;
        top: 300px
    }
    .LiText{
        top: 30px;
    }
    #ServiçosIcon1, #ServiçosIcon2{
        transform: translateY(-30px) scale(1.8);
    }
    .JavaScriptText{
        width: 130px;
    }
    
    .Footer{
        transform: translateY(50px);
    }
    .ItensFooter{
        transform: scale(0.8) translate(-63.5%);
        left: 50%;
    }
}

@media screen and (max-width: 744px){
    .ProjetosDiv{
        display: inline-block;
        width: 900px;
        height: 1000px;
        position: relative;
        top: -10%;
        transform: translateX(-380px) translateY(-60px) scale(0.65);
    }
    .Projeto2{
        float:right;
        position: relative;
        top: -35%;
        left: -20%;
    }
    .Projeto3{
        position: relative;
        left: 20%;
        top: 5%
    }
    .Footer{
        transform: translateY(100px);
    }
    .CompetênciasDiv{
        transform: translateY(50px) translateX(-250px);
    }
    .ServiçosDiv{
        transform: translateY(50px) translateX(-335px);
    }
}

@media screen and (max-width: 700px){
    .ServiçosDiv{
        transform: scale(0.9) translateX(-370px) translateY(50px);
        position: relative;
    }
    .CompetênciasDiv{
        transform: translateX(-245px) translateY(50px);
    }
    .BotõesCaixaGeral{
        left: 50%;
    }
    .ProjetosDiv{
        transform: translateY(-60px) scale(0.65) translateX(-600px);
    }
    .Footer{
        height: 200px;
        transform: translateY(50px);
    }
    .ContatosText{
        top: 15px;
    }
    .ItensFooter{
        top: 25px;
    }
}

@media screen and (max-width: 686px){
    .BiografiaTexto{
        font-size: 21px;
    }
}

@media screen and (max-width: 629px){
    .BemVindo{
        transform: scale(1.2) translate(-50%) translateX(23px);
        left: 50%;
    }
    .ProjetosDiv{
        transform: scale(0.68) translateY(-75px) translateX(-580px);
    }
    .CompetênciasDiv{
        height: 195px;
    }
    .ServiçosDiv{
        width: 550px;
        transform: translateX(-270px) translateY(50px);
        justify-content: center;
        text-align: center;
        box-shadow: -6px 6px rgb(116, 116, 116);
    }
    .LiText{
        font-size: 25px;
        transform: translateX(-70px);
    }
    #ServiçosIcon1{
        transform: translateY(-36px) scale(1.4) translateX(13px);
    }
    #ServiçosIcon2{
        transform: translateY(-52px) scale(1.4) translateX(-10px);
    }
    .Footer{
        transform: translateY(70px);
    }
}

@media screen and (max-width: 565px){
    .ServiçosDiv{
        width: 450px;
        height: 120px;
        transform: translateX(-220px) translateY(50px);
        justify-content: center;
        text-align: center;
        box-shadow: -6px 6px rgb(116, 116, 116);
    }
    .LiText{
        font-size: 22px;
        transform: translateX(-110px);
    }
    #ServiçosIcon1{
        transform: translateY(-39px) scale(1.4) translateX(5px);
    }
    #ServiçosIcon2{
        transform: translateY(-57px) scale(1.4) translateX(-24px);
    }
    .BiografiaTexto{
        transform: translateX(-205px);
    }
}

@media screen and (max-width: 565px){
    .BiografiaTexto{
        transform: translateX(-195px);
    }
    .Footer{
        transform: translateY(50px);
    }
    .ProjetosDiv{
        transform: scale(0.68) translateY(-40px) translateX(-580px);
    }
    .BemVindo{
        transform: scale(1.3) translate(-50%) translateX(28px);
        left: 50%;
    }
}
@media screen and (max-width: 521px){
    .Footer{
        transform: translateY(80px);
    }
    .BiografiaTextBox{
        transform: translateY(-65px) translateX(-200px);
    }
    .BiografiaTexto{
        transform: translateX(-190px);
    }
    .ProjetosDiv{
        transform: scale(0.68) translateY(-30px) translateX(-568px);
        overflow-x: visible;
    }
}
@media screen and (max-width: 509px){
    .BiografiaTexto{
        transform: translateX(-185px);
    }
    .Footer{
        transform: translateY(90px);
    }
    .BiografiaTextBox{
        left: 50%;
        transform: translate(-50%) translateY(-65px);
    }
    .CompetênciasDiv{
        transform: scale(0.8) translateX(-315px) translateY(0px);
    }
    .ProjetosDiv{
        transform: scale(0.5) translateY(-190px) translateX(-830px);
        overflow-x: visible;
    }
    .Footer{
        transform: translateY(-10px);
    }
    .ServiçosDiv{
        transform: translateX(-220px) translateY(0px);
    }
}
@media screen and (max-width: 493px){
    .BiografiaTexto{
        transform: translateX(-175px);
    }
    .CompetênciasBTN{
        font-size: 17px;
    }
}
@media screen and (max-width: 465px){
    .BiografiaTexto{
        transform: translateX(-168px);
    }
    .ServiçosDiv{
        transform: scale(0.9) translateX(-250px) translateY(0px);
    }
}
@media screen and (max-width: 443px){
    .Footer{
        transform: translateY(30px);
    }
    .BiografiaTexto{
        transform: translateX(-158px);
    }
}
@media screen and (max-width: 434px){
    .BiografiaTexto{
        transform: translateX(-155 px);
    }
}
@media screen and (max-height: 768px){
    .Footer{
        transform: translateY(22px);
    }
}
@media screen and (max-height: 730px){
    .Footer{
        transform: translateY(70px);
    }
}
@media screen and (max-height: 696px){
    .Footer{
        transform: translateY(100px);
    }
}
@media screen and (max-height: 666px){
    .Footer{
        transform: translateY(130px);
    }
}
@media screen and (max-height: 636px){
    .Footer{
        transform: translateY(160px);
    }
}
@media screen and (max-height: 606px){
    .Footer{
        transform: translateY(190px);
    }
}
@media screen and (max-height: 576px){
    .Footer{
        transform: translateY(220px);
    }
}
@media screen and (max-height: 546px){
    .Footer{
        transform: translateY(250px);
    }
}
@media screen and (max-height: 516px){
    .Footer{
        transform: translateY(280px);
    }
}
@media screen and (max-height: 486px){
    .Footer{
        transform: translateY(310px);
    }
}
@media screen and (max-height: 456px){
    .Footer{
        transform: translateY(340px);
    }
}
@media screen and (max-height: 426px){
    .Footer{
        transform: translateY(370px);
    }
}
@media screen and (max-height: 396px){
    .Footer{
        transform: translateY(400px);
    }
}
@media screen and (max-height: 366px){
    .Footer{
        transform: translateY(430px);
    }
}
@media screen and (max-height: 336px){
    .Footer{
        transform: translateY(460px);
    }
}
@media screen and (max-height: 306px){
    .Footer{
        transform: translateY(490px);
    }
}

@media screen and (max-width: 419px){
    .BiografiaTexto{
        transform: translateX(-150px);
    }
    .CompetênciasDiv{
        transform: scale(0.7) translateY(-50px) translateX(-350px);
    }
    .ProjetosDiv{
        transform: translateX(-405px) scale(0.5) translateY(-200px);
    }
}
@media screen and (max-width: 405px){
    .CompetênciasBTN{
        font-size: 15px;
    }
    .ServiçosDiv{
        transform: scale(0.8) translateX(-280px) translateY(0px);
    }
    .BiografiaTexto{
        transform: translateX(-140px);
    }
}
@media screen and (max-width: 390px){
    .CompetênciasBTN{
        font-size: 15px;
    }
    .CompetênciasDiv{
        transform: scale(0.65) translateY(0px) translateX(-380px);
    }
    .ServiçosDiv{
        transform: scale(0.8) translateX(-280px) translateY(0px);
    }
    .BiografiaTexto{
        font-size: 18px;
        transform: translateX(-140px);
    }
}
@media screen and (max-width: 368px){
    .ProjetosDiv{
        transform: scale(0.45) translateX(-900px) translateY(-250px);
    }
    .ServiçosDiv{
        transform: scale(0.7) translateX(-320px);
    }
    .BiografiaTexto{
        font-size: 16px;
        transform: translateX(-130px);
    }
    .CompetênciasBTN{
        font-size: 13px;
    }
    .BemVindoP{
        font-size: 13px;
    }
}
@media screen and (max-width: 350px){
    .CompetênciasDiv{
        transform: scale(0.6) translateX(-410px);
    }
    .BiografiaTexto{
        transform: translateX(-122px);
    }
}
@media screen and (max-width: 343px){
    .ProjetosDiv{
        transform: scale(0.48) translateX(-870px) translateY(-270px);
    }
    .Projeto1{
        transform: translateX(210px);
    }
    .Projeto2{
        float: none;
        transform: translateY(375px) translateX(390px);
    }
    .BiografiaTexto{
        font-size: 14.5px;
        transform: translateX(-120px);
    }
}
@media screen and (max-width: 335px){
    .BiografiaTexto{
        font-size: 14.2px;
        transform: translateX(-115px);
    }
}
@media screen and (max-width: 325px){
    .ServiçosDiv{
        transform: scale(0.65) translateX(-340px) translateY(50px);
    }
}